/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux du body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le corps occupe toute la hauteur de la fenêtre */
    font-family: 'Fira Code', monospace; /* Définit Fira Code comme police principale */
    background-color: #1E2D3D; /* Couleur de fond légère */
    color: #607B96;
}


/* Header */
header {
    background-color: #1E2D3D; /* Couleur sombre pour l'en-tête */
    color: #607B96;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Ombre portée */
    position: relative; /* Position relative pour les éléments à l'intérieur */
    z-index: 1000; /* S'assure que l'en-tête reste au-dessus d'autres éléments */
}

header h1 {
    display: flex;
    margin: 0;
    font-size: xx-large;
    font-weight: bold; /* Gras pour un meilleur contraste */
}

nav {
    margin-top: 10px; /* Espace entre le titre et la navigation */
}

nav ul {
    list-style-type: none; /* Enlève les puces de la liste */
    padding: 0; /* Enlève le remplissage par défaut */
    margin: 0; /* Enlève la marge par défaut */
}

nav ul li {
    display: inline; /* Affiche les éléments de la liste en ligne */
    margin-right: 20px; /* Espacement entre les éléments de la liste */
}

nav ul li a {
    color: #607B96; /* Couleur des liens */
    text-decoration: none; /* Enlève le soulignement des liens */
    font-weight: bold; /* Gras pour un meilleur contraste */
    padding: 10px 20px; /* Ajoute du padding pour créer l'effet bouton */
    background-color: #3C4F61; /* Couleur de fond du bouton */
    border-radius: 5px; /* Bordures arrondies pour un effet de bouton */
    border: 1px solid #607B96; /* Ajoute une bordure pour bien délimiter le bouton */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition pour l'effet hover */
}

nav ul li a:hover {
    background-color: #1f7b60; /* Change la couleur de fond au survol */
    color: #1E2D3D; /* Change la couleur du texte au survol */
}

nav ul li a.active {
    border-bottom: 2px solid #ffcc00; /* Ligne sous le lien actif */
    padding-bottom: 4px; /* Espacement sous le texte */
    background-color: #1f7b60; /* Active button background */
    color: #1E2D3D; /* Active button text color */
}


/* Style de la section À propos */
.about-container {
    display: flex; /* Utilise Flexbox pour un alignement côte à côte */
    align-items: flex-start; /* Aligne les éléments en haut */
    justify-content: center; /* Centre l'ensemble du contenu horizontalement */
    margin: 40px 20px; /* Plus d'espace autour */
    text-align: center; /* Centre le texte à l'intérieur du conteneur de texte */
}

/* Style de la photo de profil */
.profile-photo {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    margin-right: 100px; /* Espace entre la photo et le texte */
    overflow: hidden; /* Assure que l'image ne déborde pas */
    box-shadow: 10px 10px 10px  #1f7b60;

}

.profile-photo img {
    width: 100%; /* S'assure que l'image s'adapte à la largeur du conteneur */
    height: auto; /* Maintient le rapport d'aspect */
}

/* Style pour la section de texte */
.about-text {
    color: #607B96;
    max-width: 1000px; /* Limite la largeur pour éviter l'étirement */
    margin: 0; /* Enlève la marge par défaut */
}

#about h2 {
    margin-bottom: 20px; /* Espace sous le titre */
    margin-top: 20px; /* Espace au-dessus du titre */
    text-align: center;
    font-weight: bold;
    font-size: xx-large;

}

#about p {
    margin-left: 2%;
}

/*Css du jeu snake*/
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

canvas {
    width: 500px;
    margin-left: 100px;
    border: 2px solid #607B96; /* Bordure pour le canevas */
    background-color: #1E2D3D; /* Couleur de fond */
    display: block;
    box-shadow: 10px 10px 10px  #1f7b60;
}

/* Styles pour le bandeau défilant */
.marquee {
    background-color:#1E2D3D;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 10px 0; /* Plus d'espace autour */
}
.marquee2 {
    margin-top: 5%;
    background-color:#1E2D3D;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 10px 0; /* Plus d'espace autour */
}
.marquee p {
    display: inline-block;
    animation: marquee 20s linear infinite;
}
.marquee2 p {
    display: inline-block;
    animation: marquee 10s linear infinite;
}


/* Animation */
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
/*Css pour les projets */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.project {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.project-content {
    padding: 20px;
    text-align: left;
}

.project-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.project-content a {
    font-size: 1rem;
    color: #0077ff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease;
}

.project-content a:hover {
    border-bottom: 2px solid #0077ff;
}

.project-image-container {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.05);
}

.project-icons {
    margin-top: 10px;
    display: flex;
    gap: 10px; /* Espace entre les icônes */
    justify-content: left; /* Aligner les icônes à gauche */
    position: relative;
}

.project-icons i {
    font-size: 24px;
    color: #1f7b60; /* Couleur des icônes */
    transition: color 0.3s ease;
    position: relative;
}

.project-icons i:hover {
    color: #1e90ff; /* Changer la couleur au survol */
}

/* Style pour le tooltip */
.project-icons i::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; /* Positionner le tooltip au-dessus de l'icône */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Ajuster pour le centrer */
    background-color: rgba(0, 0, 0, 0.75); /* Fond sombre avec transparence */
    color: white;
    padding: 5px 10px;
    border-radius: 5px; /* Coins arrondis */
    white-space: nowrap; /* Empêcher le texte de se plier */
    opacity: 0; /* Invisible par défaut */
    visibility: hidden; /* Cache le tooltip */
    transition: opacity 0.3s ease; /* Transition fluide */
}

.project-icons i:hover::after {
    opacity: 1; /* Rendre visible au survol */
    visibility: visible; /* Afficher le tooltip */
}

/* Style pour le formulaire de contact */
#contact-form {
    width: 80%; /* Réduire la largeur pour éviter la déformation */
    max-width: 600px; /* Limiter la taille maximale */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
    padding: 20px;
    background-color: #fff; /* Fond blanc pour le formulaire */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    margin-top: 5%;
    margin-bottom: 5%;
}

#contact-form h2 {
    margin-bottom: 20px; /* Espace sous le titre */
    text-align: center; /* Centrer le titre */
    color: #1E2D3D; /* Couleur du titre */
}

#contact-form div {
    margin-bottom: 15px; /* Espacement entre les éléments du formulaire */
}

#contact-form label {
    display: block; /* Les étiquettes sur une nouvelle ligne */
    margin-bottom: 5px; /* Espace sous l'étiquette */
    font-weight: bold; /* Gras pour les étiquettes */
    color: #333; /* Couleur des labels */
}

#contact-form input,
#contact-form textarea {
    width: 100%; /* Largeur complète */
    padding: 10px; /* Espace intérieur */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    box-sizing: border-box; /* Inclure padding dans la largeur totale */
    font-size: 16px; /* Taille de police plus grande */
    font-family: Arial, sans-serif; /* Police claire et lisible */
    background-color: #fff; /* Fond blanc pour les champs */
    transition: border 0.3s ease; /* Transition pour l’effet de focus */
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #1f7b60; /* Bordure verte au focus */
    outline: none; /* Enlever le contour par défaut */
}

#contact-form textarea {
    resize: vertical; /* Autoriser le redimensionnement vertical seulement */
    min-height: 150px; /* Hauteur minimale pour la zone de texte */
}

#contact-form button {
    width: 100%; /* Le bouton occupe toute la largeur */
    padding: 12px 20px; /* Espace intérieur plus grand */
    background-color: #1f7b60; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer pour indiquer que c'est cliquable */
    font-size: 16px; /* Taille de police plus grande */
    transition: background-color 0.3s ease; /* Transition pour le hover */
}

#contact-form button:hover {
    background-color: #146f4a; /* Couleur de fond au survol */
}


/* Footer */
footer {
    background-color: #333; /* Couleur sombre pour le footer */
    color: #fff; /* Couleur du texte clair */
    padding: 20px 0; /* Plus d'espace en haut et en bas */
    text-align: center; /* Centre le texte */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Ombre portée en haut */
    margin-top: auto; /* Pousse le footer vers le bas */
}

.footer-content {
    max-width: 800px; /* Largeur maximale pour le contenu */
    margin: 0 auto; /* Centre le contenu dans le footer */
}

/* Liens */
footer a {
    color: #1f7b60; /* Couleur des liens dans le footer */
    text-decoration: none; /* Enlève le soulignement par défaut */
}

footer a:hover {
    text-decoration: underline; /* Souligne les liens au survol */
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Espace en bas des boutons */
}

.social-button {
    display: flex; /* Utiliser flexbox pour centrer l'icône */
    align-items: center; /* Centrer verticalement l'icône */
    justify-content: center; /* Centrer horizontalement l'icône */
    width: 40px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    margin: 0 10px; /* Espace entre les boutons */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition douce pour le changement de couleur */
}

.social-icon {
    width: 100%; /* Prendre toute la largeur du bouton */
    height: auto; /* Conserver le ratio d'aspect de l'image */
}

.social-button:hover {
    background-color: #1f7b60; /* Couleur au survol */
}


/* Styles généraux pour les écrans de bureau */
@media (max-width: 768px) {
    /* Styles pour les ordinateurs portables */
    body {
        font-size: 16px; /* Ajuste la taille de la police */
    }

    header h1 {
        font-size: 2rem; /* Ajuste la taille du titre */
    }

    .about-container {
        flex-direction: column; /* Change la direction pour un affichage vertical */
        align-items: center; /* Centre les éléments */
    }

    .profile-photo {
        margin-right: 0; /* Enlève la marge à droite */
        margin-bottom: 20px; /* Ajoute de l'espace en bas */
        object-fit: cover; /* Couvre le conteneur sans écrasement */
    }

    .game-container {
        width: 100%; /* S'assure que le conteneur de jeu utilise 100% de la largeur */
        margin: 0; /* Enlève toute marge */
    }

    .project img {
        width: 100%; /* Les images des projets prennent 100% de la largeur */
    }

    #contact-form {
        width: 90%; /* Ajuste la largeur du formulaire */
    }

    footer {
        font-size: 14px; /* Ajuste la taille de la police du footer */
    }
}

/* Styles pour les écrans mobiles */
@media (max-width: 480px) {
    body {
        font-size: 14px; /* Taille de police plus petite pour mobile */
    }

    header h1 {
        font-size: 1.5rem; /* Réduit la taille du titre */
    }

    nav ul li {
        display: block; /* Affiche les liens de navigation sur des lignes séparées */
        margin: 10px 0; /* Espace entre les éléments de navigation */
    }

    .about-container {
        margin: 20px 10px; /* Réduit la marge autour du conteneur */
    }

    .profile-photo {
        width: 100%; /* La photo de profil prend toute la largeur */
        height: auto; /* Maintient le rapport d'aspect */
        margin-bottom: 20px; /* Ajoute de l'espace en bas */
        object-fit: cover; /* Couvre le conteneur sans écrasement */
    }

    #contact-form {
        width: 95%; /* Ajuste encore la largeur du formulaire */
    }

    .social-buttons {
        flex-direction: column; /* Aligne les boutons sociaux verticalement */
    }
}